/* ---------------------------------
 *            Page Footer
 * --------------------------------- */
footer.footer
    .level-start
        +mobile()
            text-align: center

    .level-end
        .field
            flex-wrap: wrap
            align-items: center

            +mobile()
                justify-content: center
                margin-top: 1rem
        
        .sideMusic
            position: relative
            z-index: 999

.footer-logo
    img
        max-height: $logo-height
